* {
    background-color: rgb(83, 81, 81);
    color: aliceblue;
}

header {
    font-size: 50px;
    text-align: center;
    background-color: rgb(24, 24, 80);
}

.search-container {
    font-size: 25px;
}

button {
   width: 290px;
   height: 50px;
   margin-bottom:  10px;
   margin-top: 10px;
   background-color: rgb(24, 24, 80);
}

#weatherNow {
    position: relative;
    left: 400px;
    width: 400px;
    height: 200px;
}